/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'poppins', sans-serif;
}

body{
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: 850px;

    min-height: 100px;
    min-width: 100px;

    background: hsl(0, 0%, 100%);
    margin: 50px;
    display: grid;
    padding-bottom: 10px;
    grid-template-columns: 1fr 3fr;
    box-shadow:0 35px 55px rgba(0,0,0,0.1);
}

.container .side1{
    position: relative;
    background-color: #003147 ;
    padding: 0px;
    top:0
}
.profileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.profileText .imgBx{
    position: relative;
    width: 150px;
    height: 150px;
    margin-top: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2{
    color: #fff;    
    font-size: 1.3em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profileText h2 span{
    font-size: 0.7em;
    font-weight: 300;
}

.contactInfo{
    padding-top: 40px;

}

.title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    padding: 15px;
    letter-spacing: 0.8px;
    margin-bottom: 20px;
    
}

.contactInfo ul{
    position: relative;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-weight: 300;
    
    padding-left: 20px;
    padding-right: 10px;
}

.contactInfo ul li{
    position: relative;
    list-style: none;
    margin: 10px 0; 
    cursor: pointer;
}

.contactInfo ul li .icon{
    display: inline-block;
    width: 20px;
    font-size: 17px;
    color: #41b8ef;
}

.contactInfo ul li span{
    color: #fff;
    font-weight: 300;
    font-size: 14px;
}

.contactInfo.education li{
    margin-bottom: 15px;
    padding-left: 25px;
    border-left: 1px solid #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

.contactInfo.education h5{
    color: #41b8ef;
    font-weight: 500;
}

.contactInfo.education h4:nth-child(2){
    color: #fff;
    font-weight: 500;
}

.contactInfo.education h4{
    color: #fff;
    font-weight: 300;
    font-size: 14px;
}




.container .side2{
    position: relative;
    background-color: #fff;
    padding: 30px;
}

.about{
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;;
}


.title2{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}   

p{
    color: #272626;
    font-weight: 600;

}


.skills .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.skills .box h4{
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
} 
.hiddenSkills{
    position: relative;
    width: 90%;
    left: 25px;
    margin-top: 0;
    padding-top: 0%;
    padding-bottom: 10px;
}

.hiddenSkills {
    display: none;
}
.hiddenSkills.active {
    display: block;
}


.hiddenSkills .box .percent{
    position: relative;
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background-color: #dbd2d2;
}

.hiddenSkills .box .percent div{  
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius:10px;
    background-color: #03a9f4;
}


#toggleBtn {
    position: absolute;
    padding-top:  5px;
    padding-bottom: 10px;
   
    width: 20px;
    height: 20px;
    left:150px;
    color: #003147;
    font-weight: 900;
    border-radius: 25%; 
    cursor: pointer;

}

#toggleBtn span {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #fff;
    border-radius: 5px;
}





@media (max-width: 991px){
    .container{
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    
}
